.aboutContainer {
  min-height: 90vh;
  padding: 1rem 10vw;
  background-color: aliceblue;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  align-items: center;
  width: 100vw;
  font-family: "Roboto Slab", serif;
}

.aboutHeader {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  color: #03045e;
}

.aboutInfo {
  display: flex;
  padding: 20px;
  width: 70%;
  border: 5px solid white;
  min-height: 40vh;
  font-size: 19px;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .aboutContainer {
    /* height: 100vh; */
  }
  .aboutInfo {
    height: 100%;
    width: 100%;
  }
}
