.contactContainer {
  height: 90vh;
  background-color: aliceblue;
  /* padding: 5rem 30rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-top: 3rem;
}

.title {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  color: #03045e;
}

.contactContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 10px;
  border-radius: 5px;
  border: 6px solid white;
}
.inputText {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: all 0.5s;
  position: relative;
}

.inputText input {
  border: none;
  height: 3.5rem;
  width: 400px;
  font-size: 20px;
  z-index: 1;
  transition: all 0.5s;
}

.messageInput textarea {
  height: 4rem;
  width: 400px;
  border: none;
  outline: none;
  font-size: 20px;
}

.button {
  margin-top: 1.3rem;
  border: none;
  background-color: #090979;
  width: 100px;
  height: 40px;
  color: aliceblue;
  border-radius: 5px;
}

.errorMsg {
  background-color: #ff5c58;
  padding: 5px 3px;
}

@media screen and (max-width: 500px) {
  .contactContainer {
    min-width: 100vw;
    height: 119vh;
  }
  .inputText input {
    border: none;
    height: 3.5rem;
    width: 300px;
    font-size: 20px;
    z-index: 1;
  }
  .messageInput textarea {
    height: 4rem;
    width: 300px;
    border: none;
    outline: none;
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  .contactContainer {
    min-width: 100vw;
  }
  .inputText input {
    width: 95%;
  }
  .messageInput textarea {
    width: 100%;
  }
}

@media screen and (max-width: 267px) {
  .contactContainer > form {
    padding: 0px;
    border: none;
  }
}
