.container {
  min-height: 88vh;
  /* background-color: #e0ece4; */
  /* background-color: #a9abfc; */
  background-color: aliceblue;
  color: #03045e;
  width: 100vw;
  font-family: "Roboto Slab", serif;
}

.containerBody {
  padding: 40px 10px;
}

.top {
  /* width: 30%; */
  padding-left: 18%;
  padding-bottom: 2%;
}

.top span {
  font-size: 5vw;
  font-weight: 700;
}
.top span:nth-child(2) {
  font-size: 2vw;
  font-weight: "initial";
}

.main {
  font-size: 6vw;
  /* font-family: "Caramel", cursive; */
  font-weight: 800;
  padding-left: 20%;
  padding-bottom: 3%;
}

.bottom {
  padding-left: 51%;
  font-size: larger;
  font-weight: bold;
}

.bottomMain {
  color: red;
  font-weight: 800;
  font-size: 2vw;
}

@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 800px) {
  .top {
    padding-left: 20%;
  }
  .main {
    padding-left: 22%;
    padding-top: 20px;
  }
  .bottom {
    padding-left: 34%;
    padding-top: 20px;
  }
  .bottomMain {
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .containerBody {
    padding: 50px 0 0;
  }
  .top {
    /* font-size: 8vw; */
    padding-left: 15%;
    padding-bottom: 0;
  }
  .top span {
    font-size: 9vw;
  }
  .main {
    padding-left: 15%;
    font-size: 13vw;
    padding-top: 20px;
  }
  .bottom {
    padding-left: 25%;
    padding-top: 1px;
  }
  .bottomMain {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .containerBody {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 88vh;
  }
  .top {
    padding: 20px 0 0 10px;
  }
  .top span {
    font-size: 10vw;
  }
  .top span:nth-child(2) {
    font-size: 3vw;
  }
  .main {
    padding-left: 10px;
    font-size: 14vw;
    padding-top: 20px;
  }
  .bottom {
    padding: 20px 0 0 10px;
  }
  .bottomMain {
    font-size: 5vw;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 100vw;
    height: 92vh;
  }
  .containerBody {
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
  }
  .top > span {
    font-size: 14vw;
  }
  .top span:nth-child(2) {
    font-size: 4vw;
  }
  .main {
    font-size: 15vw;
  }
  .bottom {
    padding-left: 10px;
    padding-top: 10px;
  }
  .bottomMain {
    font-size: 5vw;
  }
}

/* @media screen and (max-width: 400px) {
  .containerBody {
    padding: 10px 0 0;
    align-items: flex-start;
  }
  .top span {
    font-size: 14vw;
  }
  .bottom {
    padding-left: 10px;
    padding-top: 10px;
  }
} */
