.container {
  min-height: 88vh;
  background-color: #e0ece4;
  width: 100vw;
}

.containerBody {
  padding: 4px 10px;
}

.top {
  /* width: 30%; */
  padding-left: 25%;
}

.top span {
  font-size: 5vw;
  font-weight: 700;
}
.top span:nth-child(2) {
  font-size: 2vw;
  font-weight: "initial";
}

.main {
  font-size: 10vw;
  font-family: "Caramel", cursive;
  font-weight: 800;
  padding-left: 28%;
}

.bottom {
  padding-left: 55%;
  font-size: larger;
  font-weight: bold;
}

.bottomMain {
  color: red;
  font-weight: 800;
  font-size: 2vw;
}

@media screen and (max-width: 800px) {
  .top {
    padding-left: 20%;
  }
  .main {
    padding-left: 22%;
    padding-top: 20px;
  }
  .bottom {
    padding-left: 34%;
    padding-top: 20px;
  }
  .bottomMain {
    font-size: 4vw;
  }
}

@media screen and (max-width: 600px) {
  .containerBody {
    padding: 50px 0 0;
  }
  .top {
    padding-left: 15%;
  }
  .main {
    padding-left: 15%;
    font-size: 13vw;
    padding-top: 20px;
  }
  .bottom {
    padding-left: 30%;
    padding-top: 20px;
  }
  .bottomMain {
    font-size: 4vw;
  }
}
@media screen and (max-width: 500px) {
  .containerBody {
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top {
    padding-left: 5px;
  }
  .top span {
    font-size: 10vw;
  }
  .top span:nth-child(2) {
    font-size: 3vw;
  }
  .main {
    padding-left: 10px;
    font-size: 16vw;
    padding-top: 20px;
  }
  .bottom {
    padding-left: 0px;
    padding-top: 30px;
  }
  .bottomMain {
    font-size: 4vw;
  }
}

@media screen and (max-width: 430px) {
  .container {
    width: 100vw;
    height: 112vh;
  }
  .containerBody {
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top > span {
    font-size: 10vw;
  }
  .top span:nth-child(2) {
    font-size: 4vw;
  }
  .main {
    font-size: 15vw;
  }
  .bottom {
    padding: 30px 0 0;
  }
  .bottomMain {
    font-size: 5vw;
  }
}

@media screen and (max-width: 400px) {
  .containerBody {
    padding: 160px 0 0;
  }
}
@media screen and (max-width: 310px) {
  .main {
    padding-top: 40px;
  }
  .bottom {
    padding-top: 40px;
  }
}
