.projectContainer {
  min-height: 88vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 1.5rem 5rem;
  width: 100vw;
  padding-top: 3rem;
  background-color: aliceblue;
  font-family: "Roboto Slab", serif;
}

.title {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
  color: #03045e;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.card {
}

@media screen and (max-width: 500px) {
  .cards:nth-child(5),
  .cards:nth-child(6),
  .cards:nth-child(9) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .projectContainer {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: #e0ece4;
  }
}

@media screen and (max-width: 450px) {
  .projectContainer {
    padding: 1rem;
    background-color: #e0ece4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 420px) {
  .projectContainer {
    /* padding: 1rem; */
    background-color: #e0ece4;
    width: 100vw;
  }
}
